{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="display-6" class="bg-primary text-white" >🎵 Musiqalar Ro'yxati</h1>
        <a href="{% url 'music_create' %}" class="btn btn-success">+ Yangi qo‘shiq qo‘shish</a>
    </div>

    <table class="table table-bordered table-hover">
                <thead class="table-dark">
        <thead>
            <tr>
                <th class="bg-primary text-white" scope="col">#</th>
                <th class="bg-success text-white" scope="col">Janri</th>
                <th class="bg-warning text-white" scope="col">Nomi</th>
                <th class="bg-danger text-white" scope="col">Yaratilgan yili</th>
                <th class="bg-info text-white" scope="col">Audio</th>
                <th class="bg-secondary text-white" scope="col">Ma'lumotlar</th>
            </tr>
        </thead>
        <tbody>
            {% for music in musics %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ music.genre }}</td>
                <td>{{ music.text|truncatechars:50 }}</td>
                <td>{{ music.published_year }}</td>
                <td>
                   {% if music.audio_url %}
    <audio controls style="width: 150px;">
        <source src="{{ music.audio_url }}" type="audio/mpeg">
        Brauzeringiz audio pleerni qo‘llab-quvvatlamaydi.
    </audio>
{% else %}
    <span class="text-muted">Audio mavjud emas</span>
{% endif %}
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-primary" href="{% url 'music_detail' music.pk %}">🔍 Batafsil</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center text-muted">Hech qanday musiqa mavjud emas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'author_list' %}" class="btn btn-outline-secondary">📚 Mualliflar ro'yxati</a>
    <a href="{% url 'excel' %}" class="btn btn-outline-secondary">📚 Excel</a>

</div>

{% include 'pagination.html' with page_obj=musics %}
{% endblock %}
