.navbar {
    background: linear-gradient(135deg, #4e54c8, #8f94fb);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
}

.navbar .navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar .nav-link {
    color: #ffffff;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover {
    color: #ffd700;
}

.navbar .form-control {
    border-radius: 20px;
    border: none;
    padding: 0.5rem 1rem;
}

.navbar .btn-outline-success {
    color: #4e54c8;
    border-color: #8f94fb;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.navbar .btn-outline-success:hover {
    background-color: #4e54c8;
    color: #333;
    border-color: #8f94fb;
}

body {
    background-image: url("/static/images/background_new.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    min-height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

@media (max-width: 768px) {
    body {
        background-position: top center;
    }
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    z-index: 100;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}