{% extends "base.html" %}

{% block content %}
<h2>Login</h2>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Login</button>
</form>

{% if form.errors %}
  <p class="text-danger">Login yoki parol noto‘g‘ri!</p>
{% endif %}

<p>Parolni tiklash? <a href="{% url 'send_reset_code' %}">Parolni tiklash</a></p>
<p>Ro‘yxatdan o‘tmaganmisiz? <a href="{% url 'register' %}">Ro‘yxatdan o‘tish</a></p>
<p>Google acount orqali kirish? <a href="{% url 'google_login'  %}">Google</a></p>
{% endblock %}
